@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body{
   background-color: rgb(0, 0, 0);
}
.app{
   height: 100vh;
   /* display: grid;
   grid-template-columns: 1fr 1fr; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
header{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   color: rgb(34, 230, 34);
}
header h1{
   font-size: 40px;
}

header p{
font-size: 20px;
}
.pads{
   width: 700px;
   height: 80vh;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(4, 120px);
   gap: 0px 10px;
}

.pads>.pad{
   height: 110px;
   width: 110px;
   background-image: linear-gradient(to right bottom, #e5432b, #ee6a1c, #f18e0a, #efaf0b, #e9d027);
   border-radius: 10%;
   opacity: 0.2;
}

.pads>.pad:hover{
   cursor: pointer;
   box-shadow: 0px 0px 20px 4px #e5432b;
}

@media only screen and (max-width:1076px){
   .app{
      flex-direction: column;
      margin-top: 30px;
   }
}
@media only screen and (max-width:765px){
   .pads{
      grid-template-columns: repeat(5, 120px);
      grid-template-rows: repeat(6, 120px);
      justify-content: center;
      max-width: 80%;
   }
}
@media only screen and (max-width:675px){
   .pads{
      grid-template-columns: repeat(4, 120px);
      grid-template-rows: repeat(7, 120px);
      justify-content: center;
      max-width: 80%;
   }
}

